<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container" ...attributes>
        <div class="input-group">
            <label>
                {{t "iam.components.modals.role-form.role-name"}}
            </label>
            <Input @value={{@options.role.name}} @type="text" class="w-full form-input" placeholder={{t "iam.components.modals.role-form.enter-name-for-this-role"}} />
        </div>
        <div class="input-group">
            <label>
                {{t "iam.components.modals.role-form.role-description"}}
            </label>
            <Input @value={{@options.role.description}} @type="text" class="w-full form-input" placeholder={{t "iam.components.modals.role-form.enter-description-your-role"}} />
        </div>
        <div class="input-group">
            <label>
                {{t "iam.components.modals.role-form.select-permission"}}
            </label>
            <PermissionPicker @selected={{@options.role.permissionsArray}} @onChange={{@options.setPermissions}} />
        </div>
    </div>
</Modal::Default>